
.alegreya {
  font-family: "Alegreya", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.bona-nova-regular {
  font-family: "Bona Nova", serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  color: #00031A;
}

.bona-nova-bold {
  font-family: "Bona Nova", serif;
  font-weight: 700;
  font-style: normal;
}

.bona-nova-regular-italic {
  font-family: "Bona Nova", serif;
  font-weight: 400;
  font-style: italic;
}

#hero{
    background-color: #E6E8FF;
    color: #000C75;
    height: max-content;
    border-radius: 15px;
    margin-top:30px;
    margin-bottom: 30px;
    box-shadow: 10px 10px 15px;
    z-index: 1;
}

#about{
    background-color: #B8BFFF;
    color: #000C75;
    height: max-content;
    border-radius: 15px;
    margin-top:30px;
    margin-bottom: 30px;
    box-shadow: 10px 10px 15px;
    z-index: 2;
}

#skills{
    background-color: #E6E8FF;
    color: #093C5D;
    border-radius: 15px;
    margin-top:30px;
    margin-bottom: 30px;
    z-index: 1;
}

#gif{
    width: 400px;
    border-radius: 15px;
    margin-top:30px;
    margin-bottom: 30px;
    z-index: 2;
    box-shadow: 10px 10px 15px;
}

#get_in_touch{
    background-color: #8A95FF;
    color: #e6e8ff !important;
    border-radius: 15px;
    margin-top:30px;
    margin-bottom: 30px;
    z-index: 20;
    z-index: 2;    
}

#footer{
    background-color: #E6E8FF;
    color:#6FD1D7;
    border-radius: 15px;
    margin-top:30px;
    margin-bottom: 30px;
    z-index: 1;
}

/* Change the copyright text color */
#footer p {
    color: #000857; /* Or any color you prefer */
}

/* Change the link colors and remove the blue */
#footer .nav-link {
    color: #000857 !important; 
}

/* Optional: Add a hover effect so people know they are clickable */
#footer .nav-link:hover {
    color: #000857 !important;
}

body{    
    z-index: -1;    
    background-color: #000857;
    height: 100%;
    position: relative;
}

body:before {
  content: '';
  position: absolute;
  left: 50%;
  height: 100%;
  width: 50%;
  background-image: url('./Media/Photos/—Pngtree—shattered\ glass\ texture\ overlay_15123797.png');
  z-index: -1;
}